<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset-"UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const ROOM_ID = '<%= roomId %>'
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      width: calc(100% - 301px);
      gap: 2px;
    }

    .videobox{
      background-color: black;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #chat{
      font: 13px Helvetica, Arial;
      position:fixed;
      width: 300px;
      height: 100%;
      right : 6px;
      top : 2px;
      border-left : 1px solid #eee;
    }

    #chatform {
      padding: 3px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      white-space: nowrap;
    }

    #chatinput {
      border: 3px solid black;
      padding: 10px 0px;
      width: calc(100% - 84px);
    }

    #chatbutton {
      border: 3px solid black;
      border-left: 0px;
      border-right: 0px;
      width: 50px;
      background: rgb(130, 224, 255);
      padding: 10px;
      right: 31px;
      cursor: pointer;
      position:absolute;
    }

    #namechange{
      border: 3px solid black;
      width: 31px;
      height: 41px;
      padding: 0px;
      right: 0px;
      background-color: #eee;
      cursor: pointer;
      position:absolute;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: calc(100% - 46px);
      overflow: auto;
      background-color: white;
    }

    #nameinputspan{
      display: none;
      position:fixed;
      background-color: #eee;
      width: 200px;
      height: 100px;
      font: 13px Helvetica, Arial;
      left: calc(50% - 100px);
      top: calc(50% - 50px);
      text-align: center;
    }

    #nameinput{
      margin-top: 20px;
      margin-bottom: 20px;
      width: 150px;
    }

    #messages li {
      padding: 5px 10px;
    }


    .mine{
      color:blue;
    }

  </style>
</head>
<body>
  <div id="base">
    <div id="video-grid"></div>
    <div id="chat">
      <ul id="messages"></ul>
      <div id="chatform">       
        <input id="chatinput" autocomplete="off"/>
        <button id="chatbutton" type="button">Send</button>
        <button id="namechange">이름<br>변경</button>
      </div>
    </div>
  </div>
  <span id="nameinputspan">
    <input type="text" id="nameinput"><br>
    <div>
      <input type="button" id="namesubmit" value="확인">
      <input type="button" id="namecancel" value="취소">
    </div>  
  </span>
</body>
</html>
